table{
    width:1000px;
    border:1px solid #369;
    padding:0;
    margin: 0 auto; 
    border-collapse:collapse;
}
table caption{
    font-size:26px;
    font-family:'Microsoft YaHei';
    color:#369;

}
table th,table td{
    border:1px solid #369;
    font-size:18px;
    text-align:center;
    padding:10px;
    color:#333;
}
table th{
    background-color:#e4d8d8;
}

